{% extends 'base.html' %}

{% block content %}
<h1>Dashboard</h1>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card text-bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text fs-2">{{ total_clientes }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Agendamentos Hoje</h5>
                <p class="card-text fs-2">{{ agendamentos_hoje }}</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
