{% extends 'base.html' %}

{% block content %}
<h2>Clientes</h2>

<a href="/clientes/novo/" class="btn btn-primary mb-3">Novo Cliente</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                <a href="/clientes/editar/{{ cliente.id }}/" class="btn btn-sm btn-warning">
                    Editar
                </a>
                <a href="/clientes/excluir/{{ cliente.id }}/" class="btn btn-sm btn-danger">
                    Excluir
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum cliente cadastrado</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
